
<% @posts.reverse.each do |post| %>
  <div class="post_body">
    <%= post.format_date(post.created_at) %>; <%= post.format_time(post.created_at) %><br>
    <%= post.content %><br><br>
    Entered by: <%= post.user_id ? post.name_user(post.user_id): 'n/a'%>
  </div>
<% end %>
