// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$dark_teal: #1d4347;
$vivid_mint: #00ff99;

* {
  border:none;
}

.post_body {
  margin: auto;
  width: 40%;
  height: 20%;
  background-color: $vivid_mint;
  color: $dark_teal;
  margin-bottom:1%;
  padding:1%;
}

#post_content{
  width: 30%;
  height: 100px;
  background-color: $vivid_mint;
  color: $dark_teal;
}
